<div class="form-title">PRODUCT SETUP</div>

<table class="form-table condensed">
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Department</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td><input type="text" class="quantity-value" size="6" maxlength="6" [value]="product.price" (change)="onChangePrice($event, product.id)"></td>
    <td>{{departments[product.departmentId]}}</td>
  </tr>
</table>

<button class="btn btn-primary form-action-button">SEND</button>
