<div class="form-title">MY GROCERY LIST:</div>

<ngx-datatable *ngIf="products" [rows]="products" [sorts]="[{ prop: 'name' }]">
  <ngx-datatable-column name="Product" prop="name" [sortable]="true">
    <ng-template let-value="value" ngx-datatable-cell-template>{{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Quantity" prop="quantity" headerClass="horizontal-center" cellClass="horizontal-center">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span *ngIf="value > 0" class="quantity-value hor">{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

