$navbar-height: 56px;
$image-width: 1031px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100%;
}

.page-container {
  padding-top: $navbar-height;
  padding-inline-start: $image-width;
  display: flex;
  flex-direction: column;
  background-image: url('/assets/images/groceries.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background-position: 0 $navbar-height;
  background-size: 1030px;

  .app-title {
    height: 15rem;
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 4rem;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: 100;
    letter-spacing: 0.3rem;
  }

  .page {
    flex-grow: 1;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
