<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle condensed">
    menu <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu">
    <li role="menuitem"><a class="dropdown-item" href="#">File</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Edit</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Search</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Recents</a>
    </li>
  </ul>
</div>

<div class="form-title">INSERT YOUR PURCHASE:</div>

<table class="form-table condensed">
  <tr>
    <th><span octicon="pencil" class="list-title-icon"></span><span>Product</span></th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td><input type="text" value="" class="quantity" size="4" maxlength="4"></td>
  </tr>
</table>
