<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <table class="form-table">
      <tr>
        <td>User Name</td>
        <td><input class="form-control inline-labeled-input" formControlName="userName" placeholder="Enter user name"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input class="form-control inline-labeled-input" formControlName="password" placeholder="Enter password"></td>
      </tr>
      <tr>
        <td></td>
        <td class="buttons">
          <button type="submit" class="btn btn-primary">LOG IN</button>
          <button class="btn btn-primary">SIGN IN</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><span class="error-message halign-center">{{errorMessage}}</span>
        </td>
      </tr>
    </table>
  </form>
</div>
