<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table class="form-table">
    <tr>
      <td>User Name</td>
      <td><input class="form-control" formControlName="userName" placeholder="Enter user name"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input class="form-control" formControlName="password" placeholder="Enter password"></td>
    </tr>
    <tr>
      <td></td>
      <td class="buttons-row buttons">
        <button type="submit" class="btn btn-primary">LOG IN</button>
        <button class="btn btn-primary">SIGN IN</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="error-message center-horizontal">{{errorMessage}}</td>
    </tr>
  </table>
</form>
