.form-title {
  margin-bottom: 2rem;
}

.vertical-center {
  margin-bottom: 1rem;
}

.label {
  width: 9rem;
}

ng-select, .form-control {
  display: inline-block;
  width: 15rem;
  margin-left: 1rem;
}

.show-report {
  margin-top: 2rem;
}
