<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table class="form-table">
    <tr>
      <td>User Name</td>
      <td><input class="form-control input-field" formControlName="userName" placeholder="Enter user name"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <div class="input-group input-field">
          <input #password type="password" class="form-control" formControlName="password" placeholder="Enter password">
          <div class="input-group-append">
            <span class="input-group-text clickable" (mousedown)="password.type='text'" (mouseup)="password.type='password'">
              <span *ngIf="password.type==='password'" octicon="eye"></span>
              <span *ngIf="password.type==='text'" octicon="eye-closed"></span>
            </span>
          </div>
        </div>
      </td>

    </tr>
    <tr>
      <td></td>
      <td class="buttons-row vertical-center">
        <button type="submit" class="btn btn-primary">LOG IN</button>
        <a [routerLink]="'/sign-up'">create an account</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="error-message horizontal-center">{{errorMessage}}</td>
    </tr>
  </table>
</form>
