<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="center-vertical">
    <a class="navbar-brand" [routerLink]="'recommended-list'">Automatic List</a>

    <div class="collapse navbar-collapse center-vertical">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="'recommended-list'" [routerLinkActive]="'active'">Recommended List</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'my-list'" [routerLinkActive]="'active'">My List</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'purchase'" [routerLinkActive]="'active'">Purchase</a></li>
        <li *ngIf="authService.isAdmin" class="nav-item"><a class="nav-link" [routerLink]="'client-grocery-list'" [routerLinkActive]="'active'">Client Grocery List</a></li>
        <li *ngIf="authService.isAdmin" class="nav-item"><a class="nav-link" [routerLink]="'client-report'" [routerLinkActive]="'active'">Client Report</a></li>
        <li *ngIf="authService.isAdmin" class="nav-item"><a class="nav-link" [routerLink]="'product-setup'" [routerLinkActive]="'active'">Product Setup</a></li>
      </ul>
    </div>
  </div>

  <div *ngIf="authService.isLoggedIn" class="user dropdown" dropdown placement="bottom left">
    <div dropdownToggle class="dropdown-toggle clickable">{{authService.user.firstName}} {{authService.user.lastName}} </div>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
