.add-form {
  .field {
    margin-inline-end: 1rem;
  }

  .input-error {
    border-color: red;
  }
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  visibility: visible;
}

.filter {
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.quantity-value {
  width: 5rem;
}
