@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~ngx-toastr/toastr';
@import 'variables';

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.horizontal-right {
  display: flex;
  justify-content: flex-end;
}

.dropdown-label {
  white-space: nowrap;
  margin-inline-end: 1rem;
}

.form-title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 1.5rem 0;

  .subtitle {
    font-size: 1rem;
    font-weight: normal;
  }
}

.form-table {
  tr > th {
    padding-bottom: 0.6rem;
    text-decoration: underline;
  }

  tr > td:not(:last-child) {
     padding-inline-end: 4rem;
  }
  td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    //&.button-row, &.buttons-row {
    //  padding-top: 1rem;
    //}

    &.error-message {
      color: red;
      font-size: 0.8rem;
    }
  }

  &.condensed {
    td {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
}

button {
  border-radius: 20px !important;
}

.dropdown-toggle.condensed {
  padding: 0 1rem;
}

.checkbox-label {
  padding-inline-start: 0.5rem;
}

.quantity-value {
  border: 2px solid $quantity-bg-color;
  border-radius: 10rem;
  padding-inline: 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  color: $quantity-color;
  text-align: center;
  outline: none;
}

.list-title-icon {
  margin-inline-end: 0.7rem;
}

.selected-dropdown-label {
  padding-inline-end: 0.5rem;
}

.section-top-margin {
  margin-top: 2rem;
}

.input-cell {
  width: 13rem;
}

.datatable-header {
  height: 40px !important;

  .datatable-header-inner {
    font-weight: bold;
  }
}

.form-action-button {
  margin-top: 2rem;
}

.clickable {
  cursor: pointer;
}
