@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'variables';

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.inline-label {
  width: $inline-label-prefix-width;
}

.inline-labeled-input {
  display: inline-block;
  width: $inline-labeled-input-width;
}

.form-table {
  tr > th {
    padding-bottom: 0.6rem;
  }

  tr > td:first-child {
     padding-inline-end: 4rem;
  }
  td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &.button-row, &.buttons-row {
      padding-top: 1rem;
    }

    &.error-message {
      color: red;
      font-size: 0.8rem;
    }
  }

  &.condensed {
    td {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
}

button {
  border-radius: 20px !important;
}

.dropdown-toggle {
  padding: 0 1rem;
}
