<div class="form-title">CLIENT'S GROCERY LIST</div>

<div class="vertical-center">
  <div class="dropdown-label">Select a client:</div>
  <div class=" input-cell">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle condensed">
        <span *ngIf="userName !== ''" class="selected-dropdown-label">{{userName}}</span> <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu">
        <li *ngFor="let client of users; let ix = index" role="menuitem" (click)="onSelectUser(ix)">
          <a class="dropdown-item">{{client.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<button class="show-report btn btn-primary" (click)="onClickSubmit()" [disabled]="userName===''">SHOW LIST</button>
